<div class="container">
  <div class="jumbotron bg-transparent">
    <div class="text-center">
      <img src="/imgs/error.png" alt="404 Error">
      <h2 class="display-6 roboto">Sorry, page not found 😔</h2>
      <a href="/"><button type="button" class="btn btn-outline-secondary px-4 my-3">Back to Home</button></a>
    </div>
  </div>
</div>