<div class="container">
  <div class="jumbotron bg-transparent">
    <div class="text-center">
      <img src="/imgs/error.png" alt="404 Error">
      <h2 class="display-6 roboto"><span role="img" aria-label="Sad face">Sorry, page not found 😔</span></h2>
      <button type="button" class="btn btn-secondary my-3"><a href="/" class="text-white">Back to Home</a></button>
    </div>
  </div>
</div>