<div id="home">
  {{!-- start jumbotron --}}
  <div class="jumbotron jumbotron-fluid gbackground border-bottom">
    <div class="container">
      <div class="jumbotron jumbotron-fluid bg-transparent">
        <div class="container">
          <div class="row">
            <div class="col">
              <h1 class="display-3" id="greeting">Look up or add a snippet:</h1>
            </div>
          </div>
          {{!-- insert rows: row 1, search bar with dropdown --}}
          <div class="row">
            <form class="col-md-12">
              <div class="form-row">
                <div class="col-md-3">
                  <div class="dropdown">
                    <button class="btn-lg btn-light btn-block dropdown-toggle my-3 h6" type="button" id="dropdown"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      All Categories
                    </button>
                    {{!-- handlebars: loop thru categories array and create link for each --}}
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item h5" href="/">Action</a>
                      <a class="dropdown-item h5" href="/">Another action</a>
                      <a class="dropdown-item h5" href="/">Something else here</a>
                    </div>
                    {{!-- end loop --}}
                  </div>
                </div>
                <div class="col-md-7">
                  <input class="form-control-lg my-3 btn-block" type="search" placeholder="Search" aria-label="Search">
                </div>
                <div class="col-md-2">
                  <button class="btn-lg btn-block btn-danger my-3" type="submit"><i class="fas fa-search"></i></button>
                </div>
              </div>
            </form>
          </div>
          {{!-- row 2 buttons with adding new snippets --}}
          <div class="row mt-3">
            <div class="col-md-6"><a href="/newsnippet">
                <button type="button" class="btn btn-info btn-lg btn-block add-buttons"><i class="fas fa-plus"></i>&nbsp;&nbsp;New
                  Snippet</button></a>
            </div>
            <div class="col-md-6"><a href="/categories">
              <button type="button" class="btn btn-info btn-lg btn-block add-buttons" data-toggle="modal" data-target="#newCategory"><i class="far fa-edit"></i>&nbsp;&nbsp;Edit Categories</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> {{!-- end jumbotron --}}
  <div class="main-body mt-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12" id="snippets">
          {{!-- card example, want handlebars to loop thru for this--}}
          {{!-- 
          <div class="card border-secondary mb-3 rounded-0">
            <div class="card-header">
              <button type="button" class="btn btn-sm c-button" disabled>Sequalize</button>
              <ul class="list-inline float-right m-0">
                <li class="list-inline-item"><button class="btn btn-secondary btn-sm rounded-0">Update</button></li>
                <li class="list-inline-item"><button class="btn btn-danger btn-sm rounded-0"><i class="fas fa-times"></i></button></li>
              </ul>
            </div>
            <div class="card-body text-secondary">
              <h5 class="card-title">Note about the snippet or title</h5>
              <p class="card-text">https://www.youtube.com/watch?v=QmFu_Z_1Dl0&t=42s</p>
            </div>
          </div>
           --}}
          {{!-- end examples --}}

          <ul id="snippet-list" class="list-group">
            {{#each snippets}}
            <div class="card border-secondary mb-3 rounded-0">
              <div class="card-header">
                <button type="button" class="btn btn-sm c-button" disabled>Sequalize</button>
                <ul class="list-inline float-right m-0">
                  <a href="snippet/update/{{this.id}}"><li class="list-inline-item"><button class="btn btn-secondary btn-sm rounded-0">Update</button></li></a>
                  <li class="list-inline-item"><button class="btn btn-danger btn-sm rounded-0"><i class="fas fa-times"></i></button></li>
                </ul>
              </div>
              <div class="card-body text-secondary">
                <h5 class="card-title">
                  <a href="snippet/{{this.id}}">{{this.title}}</a>
                </h5>
                <pre class="prettyprint">{{this.code}}</pre>
              </div>
            </div>
            {{/each}}
          </ul>

        </div>
      </div>
    </div>
  </div>


</div>

<script src="/js/index.js"></script>