<div id="home">
  {{!-- start jumbotron --}}
  <div class="jumbotron jumbotron-fluid gbackground border-bottom">
    <div class="container">
      <div class="jumbotron jumbotron-fluid bg-transparent">
        <div class="container">
          <div class="row">
            <div class="col">
              <h1 class="display-3" id="greeting">Look up or add a snippet:</h1>
            </div>
          </div>
          {{!-- insert rows: row 1, search bar with dropdown --}}
          <div class="row">
            <form class="col-md-12">
              <div class="form-row">
                <div class="col-md-3">
                  <div class="dropdown">
                    <button class="btn-lg btn-light btn-block dropdown-toggle my-3 h6" type="button" id="dropdown"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      All Categories
                    </button>
                    {{!-- handlebars: loop thru categories array and create link for each --}}
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item h5" href="/">Action</a>
                      <a class="dropdown-item h5" href="/">Another action</a>
                      <a class="dropdown-item h5" href="/">Something else here</a>
                    </div>
                    {{!-- end loop --}}
                  </div>
                </div>
                <div class="col-md-7">
                  <input class="form-control-lg my-3 btn-block" type="search" placeholder="Search" aria-label="Search">
                </div>
                <div class="col-md-2">
                  <button class="btn-lg btn-block btn-danger my-3" type="submit"><i class="fas fa-search"></i></button>
                </div>
              </div>
            </form>
          </div>
          {{!-- row 2 buttons with adding new snippets --}}
          <div class="row mt-3">
            <div class="col-md-4"><a href="/newsnippet">
                <button type="button" class="btn btn-info btn-lg btn-block add-buttons"><i class="fas fa-plus"></i>&nbsp;&nbsp;New
                  Snippet</button></a>
            </div>
            <div class="col-md-4">
              <button type="button" class="btn btn-info btn-lg btn-block add-buttons" data-toggle="modal" data-target="#newCategory"><i
                  class="fas fa-plus"></i>&nbsp;&nbsp;New Category</button>
              {{!-- Modal --}}
              <div class="modal fade" id="newCategory" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <h2 class="mod-title pb-3">Create a New Category</h2>
                      {{!-- form --}}
                      <div class="container-fluid text-center">
                        <div class="row">
                          <div class="col-md-12">
                            <form>
                              <div class="form-group row">
                                <label for="tag" class="col-md-3 col-form-label">Category Name</label>
                                <input type="text" class="form-control col-md-7 rounded-0" id="categoryName">
                                <button type="submit" class="btn btn-info col-md-2 rounded-0" id="createCategory">Create</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                      {{!-- form end --}}
                    </div>
                  </div>
                </div>
              </div>
              {{!-- end modal --}}
            </div>
            <div class="col-md-4">
              <button type="button" class="btn btn-info btn-lg btn-block add-buttons" data-toggle="modal" data-target="#newTag"><i
                  class="fas fa-plus"></i>&nbsp;&nbsp;New Tag</button>
              {{!-- Modal --}}
              <div class="modal fade" id="newTag" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <h2 class="mod-title pb-3">Create a New Tag</h2>
                      {{!-- form --}}
                      <div class="container-fluid text-center">
                        <div class="row">
                          <div class="col-md-12">
                            <form>
                              <div class="form-group row">
                                <label for="tag" class="col-md-2 col-form-label">Tag Name</label>
                                <input type="text" class="form-control col-md-8 rounded-0" id="tagName">
                                <button type="submit" class="btn btn-info col-md-2 rounded-0" id="createTag">Create</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                      {{!-- form end --}}
                    </div>
                  </div>
                </div>
              </div>
              {{!-- end modal --}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> {{!-- end jumbotron --}}
  <div class="main-body mt-4">
    <div class="container">
      <div class="row">
        <div class="col-md-10" id="snippets">
          {{!-- card example, want handlebars to loop thru for this--}}
          {{!--
          <div class="card border-secondary mb-3 rounded-0">
            <div class="card-header">
              <button type="button" class="btn btn-sm c-button" disabled>Sequalize</button>
              <ul class="list-inline float-right m-0">
                <li class="list-inline-item"><button class="btn btn-secondary btn-sm rounded-0">Update</button></li>
                <li class="list-inline-item"><button class="btn btn-danger btn-sm rounded-0"><i class="fas fa-times"></i></button></li>
              </ul>
            </div>
            <div class="card-body text-secondary">
              <h5 class="card-title">Note about the snippet or title</h5>
              <p class="card-text">https://www.youtube.com/watch?v=QmFu_Z_1Dl0&t=42s</p>
            </div>
          </div>
          --}}
          <ul id="snippet-list" class="list-group">
            {{#each snippets}}
            <div class="card border-secondary mb-3 rounded-0">
              <div class="card-header">
                <button type="button" class="btn btn-sm c-button" disabled>Sequalize</button>
                <ul class="list-inline float-right m-0">
                  <li class="list-inline-item"><button class="btn btn-secondary btn-sm rounded-0">Update</button></li>
                  <li class="list-inline-item"><button class="btn btn-danger btn-sm rounded-0"><i class="fas fa-times"></i></button></li>
                </ul>
              </div>
              <div class="card-body text-secondary">
                <h5 class="card-title">
                  <a href="snippet/{{this.id}}">{{this.title}}</a>
                </h5>
                <pre class="prettyprint">{{this.code}}</pre>
              </div>
            </div>
            {{/each}}
          </ul>
          {{!-- end examples --}}

        </div>

        <div class="col-md-2" id="tags" style="background-color:aqua">column for tags</div>
      </div>
    </div>
  </div>


</div>

<script src="/js/index.js"></script>