<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="snippet-title">Example Title</label>
            <input type="title" id="snippet-title" class="form-control" aria-describedby="snippet-title" placeholder="Enter Snippet Title">
          </div>
          <div class="form-group">
            <label for="snippet-code">Snippet Code</label>
            <textarea class="form-control" id="snippet-code" aria-describedby="snippet-code" placeholder="Enter Code Snippet"></textarea>
          </div>
          <div class="form-group">
            <label for="snippet-comment">Snippet Comment</label>
            <textarea class="form-control" id="snippet-comment" aria-describedby="snippet-comment" placeholder="Enter comment"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Snippets:</h3>
        <ul id="snippet-list" class="list-group">
          {{#each snippets}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="snippet/{{this.id}}">{{this.title}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
