<div class="container">
  <div class="jumbotron bg-transparent">
    <div class="text-center">
      <h1 class="display-6 roboto">Sorry, username already exists.
        <br />
        Please login.
      </h1>
      <a href="/login"><button type="button" class="btn btn-outline-secondary px-4 my-3">Go to Login</button></a>
    </div>
  </div>
</div>