.list-group-item {
  line-height: 2.5;
}

form.signup,
form.login {
  margin-top: 50px;
}

html,
body {
  height: 100%;
}

a:hover {
  text-decoration: none;
}

.gbackground {
  background: #606c88; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #606c88,
    #3f4c6b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #606c88,
    #3f4c6b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#greeting {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #ffffff;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.add-buttons {
  font-family: "Roboto", sans-serif;
}

.c-button {
  color: #6c757d;
  background-color: #ffffff;
  border-color: #6c757d;
}

.u-button {
  color: #8B008B;
  background-color: #ffffff;
  border-color: #8B008B;
}

#navbar {
  overflow: hidden;
  background-color: #333;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 2000;
  width: 100%;
}

.mod-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center!important;
}

.modal-content {
  border-radius: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f2f2f2;
}

.modal-header {
  border-bottom: none;
  padding: .5rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #ffffff;
}

#categoryName {
  font-weight: normal;
}

.custom-select {
  height: calc(2.875rem + 2px);
}

.hidden
{
 display:none;   
}

#username {
  font-weight: bold;
  color: grey;
  font-family: "Roboto", sans-serif;
  text-align: right;
  font-size: 1.2rem;
}

#logo {
  text-align: left;
}