.list-group-item {
  line-height: 2.5;
}

form.signup,
form.login {
  margin-top: 20px;
}

html,
body {
  height: 100%;
}

a:hover {
  text-decoration: none;
}

.gbackground {
  background-color: #606c88; /* fallback for old browsers */
  background-color: -webkit-linear-gradient(
    to bottom,
    #606c88,
    #3f4c6b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background-color: linear-gradient(
    to bottom,
    #606c88,
    #3f4c6b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-image: url("../imgs/computer_1920.png");
}

#greeting {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #ffffff;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.add-buttons {
  font-family: "Roboto", sans-serif;
}

.c-button {
  color: #6c757d;
  background-color: #ffffff;
  border-color: #6c757d;
}

.u-button {
  color: #8b008b;
  background-color: #ffffff;
  border-color: #8b008b;
}

#navbar {
  overflow: hidden;
  background-color: #333;
  z-index: 2000;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 2000;
  width: 100%;
}

.mod-title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center !important;
}

.modal-content {
  border-radius: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f2f2f2;
}

.modal-header {
  border-bottom: none;
  padding: 0.5rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #ffffff;
}

#categoryName {
  font-weight: normal;
}

.custom-select {
  height: calc(2.875rem + 2px);
}

.hidden {
  display: none;
}

#username {
  color: #696969;
  font-family: "Roboto", sans-serif;
  text-align: right;
  font-size: 1.1rem;
}

#logo {
  text-align: left;
}

#main_container {
  background-color: #606c88; /* fallback for old browsers */
  background-color: -webkit-linear-gradient(
    to bottom,
    #606c88,
    #3f4c6b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background-color: linear-gradient(
    to bottom,
    #606c88,
    #3f4c6b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-image: url("../imgs/computer_1920.png");
  position: fixed !important;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#col {
  margin-top: 1px;
  max-width: 700px;
  margin: 0 auto;
}

#h1 {
  color: white;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding-top: 100px;
}

#label,
#p {
  font-size: 20px;
  color: white;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

#welcome {
  color: white;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding-top: 300px;
}